<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        name="email"
        required
        email
        formControlName="email"
      />
      <mat-error>E-Mail is required to login</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        name="password"
        formControlName="password"
      />
      <mat-error>Password is required to login</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
      Submit
    </button>
  </form>
</section>
